version: '3'
networks:
  development:
    driver: bridge
    ipam:
      driver: default
      config:
      - subnet: 172.18.0.0/24

services:
  resources-db:
    container_name: resources-db
    image: mysql:8.0.21
    ports:
      - ${MYSQL_DB_PORT}:3306
      - 33060:33060
    networks:
      - development
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_DB_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DB_NAME}
  main-server:
    build: ./
    container_name: main-server
    image: artofimagination/main-server
    ports:
      - "8080:8080"
    networks:
      - development
    depends_on: 
      - resources-db
    environment:
      LOG_LEVEL: debug
      MYSQL_DB_ADDRESS: resources-db
      MYSQL_DB_USER: ${MYSQL_DB_USER-root}
      MYSQL_DB_PORT: ${MYSQL_DB_PORT}
      MYSQL_DB_PASSWORD: ${MYSQL_DB_PASSWORD-123secure}
      MYSQL_DB_NAME: ${MYSQL_DB_NAME-resource_database}
      MYSQL_DB_MIGRATION_DIR: ${MYSQL_DB_MIGRATION_DIR-$GOPATH/src/github.com/artofimagination/mysql-resources-db-go-service/db/migrations/mysql}